---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: reloader
  namespace: system
spec:
  interval: 30m
  chart:
    spec:
      chart: reloader
      version: 1.0.51
      sourceRef:
        kind: HelmRepository
        name: stakater
        namespace: flux-system
      interval: 30m
  values:
    reloader:
      reloadStrategy: annotations

      deployment:
        resources:
          requests:
            cpu: 15m
            memory: 63Mi
          limits:
            cpu: 45m
            memory: 63Mi
