---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: external-secrets
  namespace: security
spec:
  interval: 30m
  chart:
    spec:
      chart: external-secrets
      version: 0.9.7
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: external-secrets
        namespace: flux-system
  values:
    installCRDs: true
    replicaCount: 3
    leaderElect: true
    serviceMonitor:
      enabled: true
      interval: 1m
